body {
  font-family: "lato", sans-serif;
  font-weight: 400; }

.heading-primary {
  color: white;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-weight: 400;
    letter-spacing: 20px;
    font-size: 60px; }
  .heading-primary--sub {
    display: block;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 17.4px; }

.header {
  background-image: linear-gradient(rgba(214, 48, 49, 0.6), rgba(190, 38, 38, 0.6)), url(./img/fruit.jpg);
  background-size: cover;
  height: 100vh;
  position: relative; }
  .header__logo-box {
    position: absolute;
    left: 0; }
  .header__logo {
    height: 80px; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
