
.header {
    background-image: linear-gradient(rgba(214, 48, 49, .6), rgba(190, 38, 38, .6)), url(./img/fruit.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;

    &__logo-box {
        position: absolute;
        left: 0;
    }

    &__logo {
        height: 80px;
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
