body {
    font-family: "lato", sans-serif;
    font-weight: 400;

}

.heading-primary {
    color: white;
    text-transform: uppercase;

    &--main {
        display: block;
        font-weight: 400;
        letter-spacing: 20px;
        font-size: 60px;
    }

    &--sub {
        display: block;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 17.4px;
    }
}
